# Content-Based and User-Based Filtering Anime Movie Recommender System
Steps:
1. Collect anime movie data
2. Extract features and Data Preprocessing
4. Cosine Similarity for Content-Based 
5. Correlation for User-Based
5. Generate recommendation

# Library needed to be import

In [57]:
#Pandas tries to determine what dtype to set by analyzing the data in each column.
import pandas as pd
import re
import time
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Variable declaration

In [58]:
# Record start time
start_time = time.time()
#n = number of results/output want print  
n = 10
#target_user = user_id is equal to a specific user 
target_user = int

# Load dataset into dataframe

In [59]:
#to set the low memory to be false because guessing dtypes for each column is very memory demanding. 
#anime_movie_data = content based data
anime_movie_data = pd.read_csv('anime.csv', low_memory = False)
anime_movie_data = pd.DataFrame(anime_movie_data)
anime_movie_data

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [60]:
#user_rating_data = user rating data
user_rating_data = pd.read_csv('rating.csv', low_memory = False)
user_rating_data = user_rating_data[0:6000000]
new_user_rating = pd.read_csv('newRating.csv', low_memory = False)
user_rating_data = pd.DataFrame(user_rating_data)
user_rating_data = pd.concat([user_rating_data, new_user_rating])
user_rating_data

    user_id  anime_id  rating
0         1        20      -1
1         1        24      -1
2         1        79      -1
3         1       226      -1
4         1       241      -1
..      ...       ...     ...
75    75005     10620       9
76    75005     22319      10
77    75005     15689      10
78    75005     33286       4
79    75005       849      10

[6000080 rows x 3 columns]

# Feature Extraction + Data Preprocessing
 Identifying and extracting relevant features from the movie data that can be used to generate recommendations.

# Change Data Type

In [61]:
anime_movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [62]:
#change data type
anime_movie_data['episodes'] = anime_movie_data['episodes'].replace('Unknown', -1)
anime_movie_data = anime_movie_data.astype({"name":"string","genre":"string","type":"string","episodes":"int64"})

In [63]:
anime_movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  string
 2   genre     12232 non-null  string
 3   type      12269 non-null  string
 4   episodes  12294 non-null  int64
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(3), string(3)
memory usage: 672.5 KB

In [64]:
user_rating_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6000080 entries, 0 to 79
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 183.1 MB

# Put a meningful variable name

In [65]:
#Rename Variable
anime_movie_data = anime_movie_data.rename(columns={"rating": "avg_rating"})
anime_movie_data.head(5)

,anime_id,name,genre,type,episodes,avg_rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [66]:
#Rename Variable
user_rating_data = user_rating_data.rename(columns={"rating": "user_rating"})
user_rating_data.head(5)

   user_id  anime_id  user_rating
0        1        20           -1
1        1        24           -1
2        1        79           -1
3        1       226           -1
4        1       241           -1

# Removing null value

In [67]:
#Check is missing value in each column of a Data Frame and count the total number of true null or NaN?
anime_movie_data.isna().sum()

anime_id        0
name            0
genre          62
type           25
episodes        0
avg_rating    230
members         0
dtype: int64

In [68]:
#Drop those missing value by removing the row (axis = 0) with missing value; remove column (axis = 1) 
#and inplace = True --> modify the original DataFrame in place.
anime_movie_data.dropna(axis=0, inplace= True)
anime_movie_data.isna().sum()

anime_id      0
name          0
genre         0
type          0
episodes      0
avg_rating    0
members       0
dtype: int64

In [69]:
user_rating_data.isna().sum()

user_id        0
anime_id       0
user_rating    0
dtype: int64

# Removing stop words

In [70]:
tfidf = TfidfVectorizer(stop_words = 'english')

# Removing unused label

In [71]:
# Drop the 'members' column from the DataFrame
#anime_movie_data.drop('members', axis=1, inplace=True)
#anime_movie_data

# Clean Text

In [72]:
anime_movie_data

,anime_id,name,genre,type,episodes,avg_rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [73]:
# Define a function to clean the text
def clean_text(text):
    # Remove non-alphabetic characters
    text = re.sub('[^a-zA-Z0-9\s]', ' ', text)
    return text

In [74]:
anime_movie_data['name']=anime_movie_data['name'].apply(clean_text)
anime_movie_data

,anime_id,name,genre,type,episodes,avg_rating,members
0,32281,Kimi no Na wa,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama 039,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover Minami tai Mecha Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama Yacchimae,Hentai,Movie,1,5.46,142

# Remove duplicate records

In [75]:
# Show duplicate rows based on all columns
duplicate_anime = anime_movie_data[anime_movie_data.duplicated()].shape[0]
duplicate_anime

0

In [76]:
duplicate_rating = user_rating_data[user_rating_data.duplicated()].shape[0]
duplicate_rating

1

# Merging 2 dataset based on anime_id

In [77]:
merge_data = pd.merge(user_rating_data, anime_movie_data, on='anime_id', sort = True)
merge_data

,user_id,anime_id,user_rating,name,genre,type,episodes,avg_rating,members
0,13,1,-1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
1,19,1,10,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
2,21,1,9,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
3,23,1,9,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
4,32,1,10,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
...,...,...,...,...,...,...,...,...,...
5999974,48766,34367,-1,Long Riders Recap,"Comedy, Shounen, Slice of Life, Sports",Special,1,5.97,582
5999975,13954,34475,6,Monster Strike Rain of Memories,"Action, Fantasy, Game",ONA,1,6.58,313
5999976,53492,34475,5,Monster Strike Rain of Memories,"Action, Fantasy, Game",ONA,1,6.58,313
5999977,48766,34476,-1,Platonic Chain Ansatsu Jikkouchuu,"Sci-Fi, Slice of Life",Special,1,1.67,51
5999978,48766,34519,-1,Mobile Suit Gakuen G Reco Koushien,Comedy,Special,9,5.67,94

In [78]:
#check each anime got how much rating
anime_rating_data = pd.DataFrame(merge_data.groupby('anime_id')['user_rating'].count())
anime_rating_data.head()

          user_rating
anime_id
1               11729
5                5144
6                8368
7                1843
8                 309

# Data Trimming

In [79]:
#to get the number of user rating for each anime 
data_grouping = pd.DataFrame(merge_data.groupby('anime_id')['user_rating'].count()).sort_values(by='user_rating', ascending= False)
data_grouping.describe()

        user_rating
count  11135.000000
mean     538.839605
std     1567.310465
min        1.000000
25%        4.000000
50%       40.000000
75%      299.000000
max    30218.000000

In [80]:
#get the anime that had the number of user rating less than the mean value
trim_data = data_grouping[data_grouping['user_rating'] > data_grouping.mean()[0]]
#trim the data
merge_data = merge_data.loc[merge_data['anime_id'].isin(trim_data.index.values.tolist())]
merge_data

,user_id,anime_id,user_rating,name,genre,type,episodes,avg_rating,members
0,13,1,-1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
1,19,1,10,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
2,21,1,9,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
3,23,1,9,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
4,32,1,10,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
...,...,...,...,...,...,...,...,...,...
5999914,55952,34240,8,Shelter,"Music, Sci-Fi",Music,1,8.38,71136
5999915,56035,34240,10,Shelter,"Music, Sci-Fi",Music,1,8.38,71136
5999916,56093,34240,-1,Shelter,"Music, Sci-Fi",Music,1,8.38,71136
5999917,56120,34240,7,Shelter,"Music, Sci-Fi",Music,1,8.38,71136
5999918,56226,34240,-1,Shelter,"Music, Sci-Fi",Music,1,8.38,71136

# Algorithm 1: Content-Based

# Construct the TF-IDF matrix

In [81]:
#Compute the TF-IDF matrix based on the genre
tfidf_matrix = tfidf.fit_transform(anime_movie_data['name'])
print(type(tfidf_matrix))

<class 'scipy.sparse._csr.csr_matrix'>

In [82]:
tfidf.vocabulary_

{'kimi': 5311,
 'na': 6972,
 'wa': 11116,
 'fullmetal': 2900,
 'alchemist': 386,
 'brotherhood': 1159,
 'gintama': 3239,
 'steins': 9885,
 'gate': 3087,
 '039': 16,
 'haikyuu': 3529,
 'karasuno': 5046,
 'koukou': 5622,
 'vs': 11110,
 'shiratorizawa': 9424,
 'gakuen': 3008,
 'hunter': 4099,
 '2011': 100,
 'ginga': 3229,
 'eiyuu': 2491,
 'densetsu': 2128,
 'movie': 6870,
 'kanketsu': 5002,
 'hen': 3801,
 'yorozuya': 11544,
 'yo': 11471,
 'eien': 2472,
 'nare': 7102,
 'enchousen': 2547,
 'clannad': 1659,
 'story': 9902,
 'koe': 5458,
 'katachi': 5085,
 'code': 1693,
 'geass': 3103,
 'hangyaku': 3653,
 'lelouch': 5949,
 'r2': 8311,
 'second': 9017,
 'season': 9014,
 'sen': 9117,
 'chihiro': 1464,
 'kamikakushi': 4934,
 'shigatsu': 9279,
 'uso': 10978,
 'mushishi': 6944,
 'zoku': 11783,
 'shou': 9509,
 '2nd': 135,
 'ookami': 7674,
 'kodomo': 5456,
 'ame': 431,
 'yuki': 11611,
 'hajime': 3546,
 'ippo': 4385,
 'rurouni': 8696,
 'kenshin': 5196,
 'meiji': 6466,
 'kenkaku': 5182,
 'romantan': 8648,
 'tsuioku': 10733,
 'cowboy': 1800,
 'bebop': 925,
 'punch': 8243,
 'man': 6268,
 'mononoke': 6814,
 'hime': 3897,
 'suzumiya': 10044,
 'haruhi': 3705,
 'shoushitsu': 9550,
 'monogatari': 6810,
 'series': 9183,
 'tengen': 10349,
 'toppa': 10582,
 'gurren': 3461,
 'lagann': 5889,
 'great': 3387,
 'teacher': 10288,
 'onizuka': 7652,
 'natsume': 7137,
 'yuujinchou': 11670,
 'new': 7228,
 'challenger': 1377,
 'suzu': 10040,
 'shizuku': 9479,
 'shi': 9257,
 'howl': 4076,
 'ugoku': 10867,
 'shiro': 9431,
 'fate': 2731,
 'zero': 11749,
 'kizumonogatari': 5420,
 'ii': 4207,
 'nekketsu': 7179,
 'monster': 6821,
 'bakuman': 804,
 '3rd': 156,
 'death': 2067,
 'note': 7406,
 'aizome': 319,
 'kaori': 5029,
 'ansatsu': 511,
 'kyoushitsu': 5857,
 'tv': 10827,
 'rising': 8589,
 'kara': 5036,
 'kyoukai': 5841,
 'mujun': 6905,
 'rasen': 8388,
 'san': 8882,
 'ping': 8058,
 'pong': 8135,
 'animation': 479,
 'special': 9814,
 'hihamukage': 3868,
 'boku': 1061,
 'dake': 1965,
 'ga': 2973,
 'inai': 4287,
 'machi': 6121,
 'yojouhan': 11493,
 'shinwa': 9401,
 'taikei': 10112,
 'aria': 596,
 'origination': 7720,
 'kamisama': 4938,
 'hajimemashita': 3547,
 'kako': 4896,
 'rainbow': 8342,
 'nisha': 7322,
 'rokubou': 8631,
 'shichinin': 9275,
 'hajimeru': 3550,
 'isekai': 4417,
 'seikatsu': 9048,
 'ano': 506,
 'hi': 3838,
 'mita': 6674,
 'hana': 3617,
 'namae': 7028,
 'wo': 11264,
 'bokutachi': 1066,
 'mada': 6130,
 'shiranai': 9418,
 'kuroko': 5761,
 'basket': 882,
 'fuka': 2882,
 'ryouiki': 8722,
 'vu': 11113,
 'hotarubi': 4046,
 'mori': 6833,
 'shokugeki': 9493,
 'souma': 9775,
 'yuri': 11646,
 'ice': 4158,
 'yorinuki': 11539,
 'theater': 10424,
 '2d': 134,
 'jojo': 4643,
 'kimyou': 5321,
 'bouken': 1109,
 'stardust': 9866,
 'crusaders': 1831,
 'shinyaku': 9403,
 'benizakura': 945,
 'hellsing': 3797,
 'ultimate': 10885,
 'kiseijuu': 5381,
 'sei': 9025,
 'kakuritsu': 4906,
 'shouwa': 9558,
 'genroku': 3164,
 'rakugo': 8353,
 'shinjuu': 9351,
 'uchuu': 10853,
 'kyoudai': 5828,
 'bakemono': 786,
 'ko': 5435,
 'hotaru': 4045,
 'haka': 3554,
 'major': 6213,
 's5': 8758,
 'piece': 8039,
 'ghost': 3202,
 'shell': 9249,
 'stand': 9863,
 'complex': 1739,
 'gig': 3213,
 'diamond': 2178,
 'kudakenai': 5699,
 'satsujin': 8960,
 'kousatsu': 5643,
 'kou': 5597,
 'kingdom': 5330,
 'slam': 9665,
 'dunk': 2411,
 'usagi': 10965,
 'drop': 2395,
 'girls': 3248,
 'und': 10912,
 'panzer': 7913,
 'der': 2140,
 'film': 2768,
 'mob': 6725,
 'psycho': 8227,
 '100': 27,
 'nana': 7043,
 'baccano': 761,
 'odoro': 7516,
 'michi': 6549,
 'shingeki': 9339,
 'kyojin': 5813,
 'cross': 1824,
 'game': 3035,
 'doukyuusei': 2347,
 'evangelion': 2643,
 'advance': 249,
 'shinsekai': 9385,
 'yori': 11538,
 'senkan': 9131,
 'yamato': 11386,
 '2199': 119,
 'chihayafuru': 1463,
 'mahou': 6175,
 'shoujo': 9529,
 'madoka': 6138,
 'magica': 6156,
 'nichijou': 7246,
 'pass': 7939,
 'barakamon': 863,
 'ace': 227,
 'magi': 6153,
 'magic': 6155,
 'world': 11286,
 'samurai': 8879,
 'champloo': 1382,
 'ni': 7238,
 'sara': 8931,
 'katanagatari': 5089,
 's6': 8759,
 'shirobako': 9432,
 'ashita': 651,
 'joe': 4635,
 'noragami': 7383,
 'aragoto': 562,
 'sakamichi': 8835,
 'apollon': 546,
 'tonari': 10553,
 'totoro': 10614,
 'kaze': 5130,
 'tani': 10215,
 'nausica': 7148,
 'life': 5984,
 'romeo': 8651,
 'aoi': 528,
 'sora': 9732,
 'yuu': 11657,
 'hakusho': 3581,
 'kino': 5344,
 'tabi': 10072,
 'beautiful': 922,
 'nodame': 7352,
 'cantabile': 1291,
 'koushinryou': 5649,
 'kuinaki': 5708,
 'sentaku': 9163,
 'oukoubakko': 7813,
 'poriomania': 8154,
 'stay': 9882,
 'night': 7258,
 'unlimited': 10930,
 'blade': 1024,
 'works': 11284,
 'kemono': 5173,
 'souja': 9763,
 'erin': 2596,
 'tekketsu': 10325,
 'neon': 7210,
 'genesis': 3144,
 'end': 2551,
 'toradora': 10585,
 'toki': 10504,
 'kakeru': 4889,
 'tsubasa': 10721,
 'tokyo': 10528,
 'revelations': 8529,
 'owarimonogatari': 7840,
 'stranger': 9909,
 'mukou': 6913,
 'hadan': 3505,
 'detective': 2155,
 'conan': 1744,
 '06': 20,
 'phantom': 8013,
 'baker': 789,
 'street': 9917,
 's1': 8754,
 'mobile': 6728,
 'suit': 9968,
 'gundam': 3442,
 'origin': 7718,
 'nanatsu': 7054,
 'taizai': 10141,
 'strong': 9927,
 'higurashi': 3867,
 'naku': 7023,
 'koro': 5563,
 'kai': 4824,
 'ova': 7830,
 'greed': 3390,
 'island': 4430,
 'final': 2770,
 'kuroshitsuji': 5767,
 'book': 1090,
 'murder': 6926,
 's2': 8755,
 'outs': 7827,
 'beck': 926,
 'berserk': 958,
 'tengoku': 10350,
 'tobira': 10484,
 's3': 8756,
 'unicorn': 10920,
 'itsuka': 4459,
 'nhk': 7237,
 'youkoso': 11573,
 'rose': 8661,
 'versailles': 11050,
 'sakurasou': 8855,
 'pet': 7999,
 'kanojo': 5012,
 'angel': 458,
 'beats': 921,
 'bakemonogatari': 787,
 'bungou': 1199,
 'stray': 9915,
 'dogs': 2244,
 'champion': 1381,
 'road': 8602,
 'ouran': 7815,
 'host': 4043,
 'club': 1682,
 '13': 36,
 'raven': 8393,
 'chaser': 1411,
 'durarara': 2415,
 'finale': 2771,
 'planetes': 8086,
 'shelter': 9251,
 'tenkuu': 10363,
 'laputa': 5912,
 'shiroyasha': 9440,
 'koutan': 5657,
 'hachimitsu': 3495,
 'clover': 1681,
 'inuyasha': 4367,
 'kaguya': 4822,
 'katekyo': 5097,
 'hitman': 3941,
 'reborn': 8416,
 'circus': 1653,
 'hero': 3823,
 'academia': 220,
 'gin': 3227,
 'saji': 8831,
 'little': 6022,
 'busters': 1232,
 'refrain': 8437,
 'message': 6518,
 'saint': 8810,
 'seiya': 9085,
 'lost': 6060,
 'canvas': 1293,
 'meiou': 6474,
 'sket': 9651,
 'dance': 1987,
 'danshi': 2013,
 'koukousei': 5623,
 'kotonoha': 5587,
 'niwa': 7337,
 'kanata': 4967,
 'll': 6027,
 'mirai': 6649,
 's4': 8757,
 'omoide': 7613,
 'marnie': 6343,
 'working': 11283,
 'lord': 6059,
 'takanashi': 10149,
 'saikou': 8805,
 'present': 8188,
 'desu': 2151,
 'lyrical': 6107,
 'nanoha': 7083,
 'sennen': 9137,
 'joyuu': 4683,
 'kyoukaimenjou': 5842,
 'missing': 6668,
 'link': 6012,
 'divide': 2224,
 'xxxholic': 11336,
 'kei': 5149,
 'ougon': 7804,
 'jidai': 4559,
 'iii': 4208,
 'kourin': 5634,
 'parade': 7923,
 'gyakkyou': 3475,
 'burai': 1212,
 'kaiji': 4836,
 'survivor': 10029,
 'redline': 8433,
 '20': 88,
 'darkest': 2027,
 'nightmare': 7260,
 'dragon': 2370,
 'ball': 821,
 'prologue': 8215,
 'kokoro': 5504,
 'sakebitagatterunda': 8841,
 'mimi': 6613,
 'sumaseba': 9986,
 'nagi': 6998,
 'asukara': 671,
 'gold': 3298,
 'godfathers': 3271,
 'trigun': 10698,
 'rou': 8664,
 'hajimari': 3544,
 'sekaiichi': 9093,
 'hatsukoi': 3743,
 'yahari': 11352,
 'ore': 7708,
 'seishun': 9078,
 'love': 6066,
 'comedy': 1723,
 'machigatteiru': 6122,
 'natural': 7146,
 'black': 1022,
 'lagoon': 5890,
 'barrage': 872,
 'kami': 4928,
 'nomi': 7367,
 'zo': 11781,
 'shiru': 9441,
 'sekai': 9092,
 'megami': 6453,
 'summer': 9991,
 'wars': 11187,
 'specials': 9815,
 '14': 37,
 'ship': 9411,
 'sky': 9662,
 'hakairoku': 3558,
 'initial': 4325,
 'stage': 9858,
 'kaiba': 4825,
 'episode': 2588,
 'merry': 6514,
 'mou': 6861,
 'hitori': 3949,
 'nakama': 7013,
 'saiki': 8802,
 'kusuo': 5783,
 'nan': 7042,
 'cardcaptor': 1310,
 'sakura': 8851,
 'fuuin': 2955,
 'sareta': 8940,
 'card': 1309,
 'mashiba': 6368,
 'kimura': 5320,
 'skip': 9657,
 'beat': 919,
 'yowamushi': 11590,
 'pedal': 7966,
 'grande': 3374,
 'gankutsuou': 3050,
 'majo': 6210,
 'takkyuubin': 10172,
 'paris': 7933,
 'nami': 7037,
 'koukaishi': 5617,
 'namida': 7038,
 'kizuna': 5421,
 'osomatsu': 7756,
 'space': 9803,
 'dandy': 1993,
 'tsumiki': 10771,
 'detroit': 2159,
 'metal': 6523,
 'city': 1654,
 'eve': 2644,
 'jikan': 4578,
 'kaichou': 4827,
 'maid': 6183,
 'sama': 8867,
 'hades': 3507,
 'juuni': 4745,
 'kyuu': 5869,
 'zankyou': 11707,
 'terror': 10399,
 'darker': 2026,
 'kuro': 5752,
 'keiyakusha': 5163,
 '05': 19,
 'countdown': 1796,
 'heaven': 3770,
 'fairy': 2702,
 'tail': 10119,
 '2014': 103,
 'hibike': 3843,
 'euphonium': 2638,
 'maison': 6198,
 'ikkoku': 4251,
 'non': 7369,
 'biyori': 1021,
 'repeat': 8498,
 'shijou': 9294,
 'saikyou': 8806,
 'deshi': 2145,
 'kenichi': 5178,
 'yuusha': 11683,
 'ou': 7797,
 'gaogaigar': 3058,
 'gekkan': 3126,
 'nozaki': 7419,
 'kun': 5726,
 'fourth': 2826,
 'junjou': 4718,
 'romantica': 8649,
 'tachinu': 10085,
 'kuragehime': 5739,
 'labyrinth': 5884,
 '00': 0,
 'relife': 8468,
 'seirei': 9063,
 'moribito': 6834,
 'akatsuki': 348,
 'yona': 11521,
 '08': 22,
 'magician': 6158,
 'silver': 9630,
 'x2': 11301,
 'ketsu': 5221,
 'free': 2839,
 'eternal': 2619,
 'glass': 3255,
 'kamen': 4927,
 '2005': 94,
 'gosick': 3340,
 'boxer': 1131,
 'kobushi': 5447,
 'kill': 5300,
 'la': 5882,
 'lovely': 6072,
 'perfect': 7988,
 'blue': 1044,
 'princess': 8201,
 'tutu': 10825,
 'sakasama': 8838,
 'patema': 7949,
 'shunraiki': 9584,
 'solid': 9709,
 'state': 9880,
 'society': 9692,
 'sinbad': 9634,
 'kakumei': 4901,
 'utena': 10996,
 '10': 26,
 'requiem': 8504,
 'detectives': 2156,
 'panic': 7900,
 'fumoffu': 2904,
 'arata': 571,
 'naru': 7115,
 'tatakai': 10264,
 'overture': 7835,
 'tsuukaku': 10797,
 'zanryuu': 11711,
 'nisemonogatari': 7320,
 'tsukimonogatari': 10752,
 'avvenire': 719,
 'baby': 758,
 'steps': 9889,
 'gray': 3386,
 'gaiden': 2988,
 'senoku': 9144,
 'hoshi': 4036,
 'hikari': 3876,
 'jump': 4708,
 'festa': 2748,
 'lupin': 6101,
 'cagliostro': 1267,
 'iron': 4406,
 'blooded': 1038,
 'orphans': 7728,
 'ookiku': 7678,
 'furikabutte': 2918,
 'natsu': 7131,
 'taikai': 10111,
 'saiunkoku': 8822,
 'yokozawa': 11505,
 'takafumi': 10144,
 'baai': 751,
 'dennou': 2126,
 'coil': 1699,
 'eureka': 2640,
 'seven': 9201,
 'laughing': 5918,
 'dai': 1880,
 'hanseikai': 3662,
 'hidamari': 3847,
 'sketch': 9652,
 'sae': 8779,
 'hiro': 3921,
 'sotsugyou': 9747,
 'hikaru': 3878,
 'todoke': 10489,
 'connect': 1757,
 'random': 8366,
 'magnitude': 6165,
 'ef': 2459,
 'tale': 10179,
 'melodies': 6487,
 'omocha': 7611,
 'live': 6024,
 'school': 8990,
 'idol': 4189,
 'mahoutsukai': 6179,
 'yome': 11513,
 'matsu': 6398,
 'hito': 3942,
 '18': 43,
 'sniper': 9684,
 'dimension': 2196,
 'fantasy': 2722,
 'vii': 11070,
 'advent': 252,
 'children': 1487,
 'complete': 1738,
 'hyouka': 4137,
 'interstella5555': 4355,
 '5tory': 178,
 '5ecret': 175,
 '5tar': 176,
 '5ystem': 179,
 'kanon': 5014,
 '2006': 95,
 'persona': 7996,
 'winter': 11253,
 'rebirth': 8412,
 'shunmuki': 9583,
 'zetsuen': 11756,
 'tempest': 10336,
 'sono': 9727,
 'choppiri': 1556,
 'himitsu': 3904,
 'basho': 880,
 '03': 15,
 'wizard': 11262,
 'century': 1356,
 '04': 17,
 'captured': 1303,
 'eyes': 2686,
 'hanada': 3622,
 'shounen': 9542,
 'kokuki': 5512,
 'yuujou': 11671,
 'winning': 11252,
 'shot': 9508,
 'tamako': 10190,
 'toaru': 10468,
 'kagaku': 4799,
 'railgun': 8339,
 'touch': 10624,
 'akira': 362,
 'roberta': 8607,
 'blood': 1037,
 'trail': 10669,
 '2015': 104,
 'high': 3862,
 'speed': 9817,
 'starting': 9877,
 'days': 2055,
 'kyou': 5826,
 'nurarihyon': 7444,
 'mago': 6167,
 'makyou': 6241,
 'paprika': 7921,
 'prince': 8199,
 'tennis': 10369,
 'national': 7130,
 'tournament': 10645,
 'finals': 2772,
 'rumble': 8684,
 'gakki': 3001,
 'akagami': 332,
 'shirayuki': 9425,
 'hitotsu': 3954,
 'tomoyo': 10548,
 'nagareboshi': 6990,
 'fifth': 2758,
 'log': 6036,
 'horizon': 4028,
 'valentine': 11014,
 'slayers': 9669,
 'arietta': 599,
 '15': 40,
 'quarter': 8298,
 'silence': 9627,
 'digimon': 2193,
 'adventure': 253,
 'tri': 10689,
 'kokuhaku': 5510,
 'nanigoto': 7068,
 'mo': 6724,
 'saiyo': 8827,
 'kanjin': 4995,
 'nano': 7080,
 'tasho': 10253,
 'senobisuru': 9143,
 'kurai': 5740,
 'choudoyoi': 1567,
 'igano': 4197,
 'kabamaru': 4766,
 'fukuin': 2894,
 '08th': 23,
 'ms': 6883,
 'team': 10290,
 'omae': 7596,
 'umasou': 10898,
 'da': 1867,
 'ushio': 10975,
 'tora': 10584,
 'wolf': 11265,
 'rain': 8341,
 'ajin': 323,
 'aoki': 530,
 'hagane': 3515,
 'arpeggio': 615,
 'ars': 618,
 'nova': 7417,
 'cadenza': 1265,
 'memories': 6499,
 'individual': 4306,
 'sengoku': 9124,
 'gunyuuden': 3456,
 'rai': 8330,
 'doraemon': 2310,
 'tiger': 10449,
 'amp': 439,
 'bunny': 1207,
 'hanamonogatari': 3628,
 'tamayura': 10196,
 'shashin': 9242,
 'tekkon': 10327,
 'kinkreet': 5339,
 'byousoku': 1257,
 'centimeter': 1355,
 'danganronpa': 1998,
 'kibougamine': 5240,
 'kibou': 5239,
 'meikyuu': 6471,
 'hyouge': 4136,
 'mono': 6808,
 'karigurashi': 5055,
 'arrietty': 616,
 'seisou': 9079,
 'tanaka': 10206,
 'itsumo': 4461,
 'kedaruge': 5143,
 'doldrey': 2276,
 'kouryaku': 5637,
 'elsword': 2520,
 'el': 2500,
 'lady': 5887,
 'waga': 11119,
 'yuku': 11623,
 'journey': 4678,
 'north': 7397,
 'star': 9865,
 'cup': 1841,
 'hybrid': 4126,
 'child': 1486,
 'seikishi': 9054,
 'kobato': 5439,
 'kuuchuu': 5792,
 'buranko': 1215,
 'macross': 6128,
 'remember': 8472,
 '3d2y': 154,
 'koete': 5462,
 'luffy': 6082,
 'tono': 10569,
 'chikai': 1474,
 'semifinals': 9113,
 'eyeshield': 2687,
 '21': 115,
 'moon': 6828,
 'sagashite': 8792,
 'grisaia': 3404,
 'rakuen': 8351,
 'jigoku': 4567,
 'futakomori': 2943,
 'mawaru': 6412,
 'penguindrum': 7980,
 'soul': 9772,
 'eater': 2436,
 'badlands': 768,
 'haibane': 3524,
 'renmei': 8486,
 'tip': 10462,
 'nikki': 7274,
 'saiyuuki': 8829,
 'reload': 8469,
 'burial': 1217,
 'tentai': 10383,
 'senshi': 9154,
 'sunred': 10006,
 'terra': 10397,
 'ghoul': 3204,
 'yume': 11625,
 'iro': 4398,
 'tissi': 10464,
 'azumanga': 745,
 'daioh': 1922,
 'colorful': 1711,
 '09': 24,
 'years': 11453,
 'drifters': 2390,
 'edition': 2454,
 'flcl': 2789,
 'raid': 8331,
 'project': 8214,
 'sayonara': 8976,
 'nekomonogatari': 7187,
 'strike': 9921,
 'yuuutsu': 11688,
 'flanders': 2784,
 'inu': 4359,
 'golden': 3299,
 'boy': 1132,
 'caprice': 1299,
 'mayu': 6423,
 'kaleido': 4918,
 'garan': 3062,
 'dou': 2333,
 'seitokai': 9083,
 'yakuindomo': 11365,
 'yakitate': 11362,
 'japan': 4519,
 'beelzebub': 929,
 'billiards': 991,
 'jormungand': 4654,
 'order': 7705,
 '1st': 87,
 'overlord': 7832,
 'takarajima': 10155,
 'manatsu': 6278,
 'yoru': 11545,
 'yuru': 11648,
 'hai': 3523,
 'boruto': 1096,
 'naruto': 7122,
 'coquelicot': 1778,
 'zaka': 11698,
 'eikoku': 2482,
 'koi': 5474,
 'emma': 2534,
 'molders': 6767,
 'ergo': 2593,
 'proxy': 8221,
 'hanasaku': 3635,
 'iroha': 4400,
 'hataraku': 3732,
 'maou': 6311,
 'higashi': 3857,
 'eden': 2452,
 'naki': 7020,
 'remi': 8473,
 'kono': 5543,
 'subarashii': 9935,
 'shukufuku': 9576,
 'kurenai': 5746,
 'buta': 1233,
 'zeta': 11752,
 'prison': 8206,
 'zetsubou': 11755,
 'sensei': 9150,
 'seto': 9193,
 'hanayome': 3642,
 'akachan': 328,
 'hakuouki': 3578,
 'shikon': 9308,
 'soukyuu': 9771,
 'zen': 11724,
 'kaito': 4866,
 'sakigake': 8844,
 'cromartie': 1823,
 'touhai': 10630,
 'akagi': 334,
 'yami': 11390,
 'maiorita': 6195,
 'tensai': 10376,
 'carnival': 1317,
 'phantasm': 8010,
 'hallow': 3588,
 'date': 2041,
 'encore': 2548,
 'gochuumon': 3267,
 'ka': 4763,
 'shirokuma': 9437,
 'cafe': 1266,
 'zan': 11702,
 '02': 14,
 'fourteenth': 2825,
 'target': 10244,
 'giant': 3207,
 'robo': 8610,
 'chikyuu': 1485,
 'seishi': 9073,
 'suru': 10026,
 'hetalia': 3831,
 'legend': 5942,
 'phoenix': 8018,
 'layla': 5922,
 'hamilton': 3602,
 'witch': 11256,
 'maria': 6326,
 'miteru': 6682,
 'thunderbolt': 10435,
 'everlasting': 2646,
 'guilty': 3429,
 'crown': 1828,
 'bishoujo': 1013,
 'sailor': 8807,
 'stars': 9874,
 'break': 1143,
 'sanka': 8904,
 'chi': 1436,
 'home': 4001,
 'sweet': 10049,
 'honeycomb': 4005,
 'hokuto': 3989,
 'ken': 5175,
 'les': 5959,
 'mis': 6658,
 'rables': 8318,
 'cosette': 1788,
 'serial': 9182,
 'experiments': 2674,
 'lain': 5894,
 'shiki': 9302,
 'ushiro': 10976,
 'shoumen': 9540,
 'daare': 1869,
 'baka': 779,
 'test': 10403,
 'shoukanjuu': 9533,
 '01': 13,
 'timed': 10455,
 'skyscraper': 9664,
 '07': 21,
 'crossroad': 1826,
 'ancient': 445,
 'capital': 1296,
 'build': 1181,
 'fighters': 2762,
 'ng': 7236,
 'shuu': 9601,
 'neko': 7181,
 'ongaeshi': 7633,
 'seihou': 9040,
 'bukyou': 1186,
 'outlaw': 7824,
 'white': 11234,
 'album': 384,
 'jieitai': 4564,
 'kanochi': 5011,
 'nite': 7332,
 'kaku': 4898,
 'tatakaeri': 10263,
 'hunt': 4098,
 'gungrave': 3445,
 'jungle': 4715,
 'hare': 3683,
 'nochi': 7351,
 'guu': 3468,
 'madang': 6132,
 'eul': 2631,
 'naon': 7093,
 'amtalg': 440,
 '4th': 168,
 'musekinin': 6935,
 'kanchou': 4972,
 'tylor': 10835,
 'kohakuiro': 5472,
 'meikai': 6467,
 'oniisan': 7646,
 ...}

# Anime Movie's Name Information

In [83]:
anime_movie_data.name.head()

0                      Kimi no Na wa
1    Fullmetal Alchemist  Brotherhood
2                            Gintama
3                         Steins Gate
4                       Gintama  039
Name: name, dtype: object

In [84]:
name_size = len(anime_movie_data.name)
print(name_size)

12017

# Movie with same genre via 'loc' property
 loc property is used to access a group of rows and columns by label(s)

In [85]:
# Search for the 'Romance' genre using loc property
anime_by_genre = anime_movie_data.copy().loc[anime_movie_data['genre'].str.contains('Romance')]
anime_by_genre.head()

,anime_id,name,genre,type,episodes,avg_rating,members
0,32281,Kimi no Na wa,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
10,4181,Clannad After Story,"Drama, Fantasy, Romance, Slice of Life, Supern...",TV,24,9.06,456749
16,23273,Shigatsu wa Kimi no Uso,"Drama, Music, Romance, School, Shounen",TV,22,8.92,416397
21,44,Rurouni Kenshin Meiji Kenkaku Romantan Tsui...,"Action, Drama, Historical, Martial Arts, Roman...",OVA,4,8.83,129307
25,7311,Suzumiya Haruhi no Shoushitsu,"Comedy, Mystery, Romance, School, Sci-Fi, Supe...",Movie,1,8.81,240297

# Cosine Similarity

In [86]:
# Compute the Cosine Similarity in terms of pairwise similarities
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [87]:
# Compute cosine similarity matrix
cosine_sim_cs = cosine_similarity(tfidf_matrix, tfidf_matrix)

# Print time taken
print("Time taken: %s seconds" %(time.time() - start))

Time taken: 1137.2897956371307 seconds

In [88]:
# Create a pandas series where indexes are values and titles are indexes
indices = pd.Series(anime_movie_data.index, index = anime_movie_data['name']).drop_duplicates()

# Check the first 10 indices
indices[:n]

name
Kimi no Na wa                                                0
Fullmetal Alchemist  Brotherhood                             1
Gintama                                                      2
Steins Gate                                                  3
Gintama  039                                                 4
Haikyuu    Karasuno Koukou VS Shiratorizawa Gakuen Koukou    5
Hunter x Hunter  2011                                        6
Ginga Eiyuu Densetsu                                         7
Gintama Movie  Kanketsu hen   Yorozuya yo Eien Nare          8
Gintama  039   Enchousen                                     9
dtype: int64

# Recommend anime movie function based on cosine similarity

In [89]:
# Define a function to get recommended movies
def get_recommendations_content_based(name, cosine_sim):
    # Get the index of the movie that matches the name
    index = indices[name]

    # Get the pairwise similarity scores
    sim_scores = list(enumerate(cosine_sim[index]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the top 10 most similar movies
    sim_scores = sim_scores[:n]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return anime_movie_data['name'].iloc[movie_indices]

# User input for the specific user id

In [90]:
target_user = int(input('Enter a user id (75000 - 75005) is the new added user:'))

# Top 10 recommended anime movie based on the top rating movie name from specific user id

In [91]:
# Get recommendations for a given movie name by a top rated movie from s specific user id 
target_user_data = merge_data[merge_data['user_id'] == target_user].sort_values(by='user_rating', ascending=False)
name = target_user_data['name'].values[0]

content_based_recommendations = get_recommendations_content_based(name, cosine_sim)

# Print the top 10 recommended movies
content_based_recommendations=pd.DataFrame(content_based_recommendations)
content_based_recommendations = content_based_recommendations[:n]
content_based_recommendations

                                                   name
1                      Fullmetal Alchemist  Brotherhood
402           Fullmetal Alchemist  Brotherhood Specials
200                                 Fullmetal Alchemist
1030  Fullmetal Alchemist  Brotherhood   4 Koma Theater
1967                   Fullmetal Alchemist  Reflections
1742            Fullmetal Alchemist  Premium Collection
971     Fullmetal Alchemist  The Conqueror of Shamballa
1558      Fullmetal Alchemist  The Sacred Star of Milos
2397  Fullmetal Alchemist  The Sacred Star of Milos ...
2697                      Brotherhood  Final Fantasy XV

# Algorithm 2: User-based

# Find the user-item matrix

In [92]:
#matrix which the anime had been rating by the user
user_anime_matrix = merge_data.pivot_table(index = 'user_id', columns = ['anime_id'], values = 'user_rating')
user_anime_matrix.fillna(-1, inplace=True)
user_anime_matrix.head(10)

anime_id,1,5,6,7,15,16,18,19,20,22,...,32668,32681,32729,32828,32935,32998,33028,33558,34103,34240
user_id,,,,,,,,,,,,,,,,,,,,,
1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
5,-1.0,-1.0,8.0,-1.0,6.0,-1.0,6.0,-1.0,6.0,5.0,...,-1.0,-1.0,-1.0,7.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
6,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
7,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,7.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
8,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
9,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
10,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [93]:
merge_data.user_rating.info()

<class 'pandas.core.series.Series'>
Index: 5331503 entries, 0 to 5999918
Series name: user_rating
Non-Null Count    Dtype
--------------    -----
5331503 non-null  int64
dtypes: int64(1)
memory usage: 81.4 MB

In [94]:
anime_user_matrix = user_anime_matrix.transpose()
anime_user_matrix.head(10)

user_id,1,2,3,4,5,6,7,8,9,10,...,56310,56311,56312,56313,75000,75001,75002,75003,75004,75005
anime_id,,,,,,,,,,,,,,,,,,,,,
1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,8.0,-1.0,-1.0,-1.0,9.0,-1.0,-1.0,-1.0,-1.0,-1.0
5,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
6,-1.0,-1.0,-1.0,-1.0,8.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,8.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
7,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
15,-1.0,-1.0,-1.0,-1.0,6.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
16,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
18,-1.0,-1.0,-1.0,-1.0,6.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
19,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,10.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
20,-1.0,-1.0,8.0,-1.0,6.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,5.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
22,-1.0,-1.0,-1.0,-1.0,5.0,-1.0,7.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

# Select a user for target user to compare correlation with other users

In [95]:
anime_user_rating = anime_user_matrix[target_user]
pd.DataFrame(anime_user_rating.sort_values(ascending= False)).rename(columns={target_user: f"user with id {target_user}'s rating"})

          user with id 75000's rating
anime_id
32935                            10.0
5114                             10.0
9253                             10.0
1                                 9.0
30276                             9.0
...                               ...
2581                             -1.0
2563                             -1.0
2520                             -1.0
2508                             -1.0
34240                            -1.0

[2105 rows x 1 columns]

# Find correlation with other users

In [96]:
# Find correlation between user_id = 85 based on the ratings of movies
similar_users = anime_user_matrix.corrwith(anime_user_rating).dropna()
similar_users

user_id
1       -0.003424
2       -0.001711
3        0.059717
5        0.060186
7        0.046377
           ...
75001    0.308958
75002   -0.005391
75003    0.191267
75004   -0.006763
75005   -0.005900
Length: 53199, dtype: float64

# Transform it into Data Frame

In [97]:
# Create a dataframe with similar movies as the index column and correlation as another column
similar_users = pd.DataFrame(similar_users, columns = ['correlation'])
similar_users.head(10)

         correlation
user_id
1          -0.003424
2          -0.001711
3           0.059717
5           0.060186
7           0.046377
8          -0.005868
9          -0.001711
10          0.190177
11          0.078057
12          0.208579

# Show user with highest correlation

In [98]:
#except the most_similar_users[0] = traget_user  
most_similar_users = similar_users.sort_values(by = 'correlation', ascending = False)
most_similar_users = most_similar_users[1:]
most_similar_users

         correlation
user_id
4699        0.494923
8581        0.456588
48526       0.449755
29476       0.447886
39488       0.446999
...              ...
52964      -0.038759
37351      -0.038955
1497       -0.039036
50776      -0.040467
15783      -0.041994

[53198 rows x 1 columns]

In [99]:
#print user_id with highest correlation
most_similar_users = most_similar_users.index.values.tolist()
highest_correlation_user = most_similar_users[0]
highest_correlation_user

4699

# 10 best recommend rated anime movie from the user that have highest correlation value

In [100]:
#sort highest rating to lowest rating
#target_user = merge_data.loc[merge_data['user_id'] == target_user].sort_values(by= 'user_rating', ascending= False)
#recommend anime movie based on similar user
user_based_recommendations = merge_data[merge_data['user_id'] == highest_correlation_user].sort_values('user_rating', ascending=False)
user_based_recommendations = user_based_recommendations[:n]
user_based_recommendations

,user_id,anime_id,user_rating,name,genre,type,episodes,avg_rating,members
2110631,4699,2904,10,Code Geass Hangyaku no Lelouch R2,"Action, Drama, Mecha, Military, Sci-Fi, Super ...",TV,25,8.98,572888
3568313,4699,9253,10,Steins Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
1565719,4699,1535,10,Death Note,"Mystery, Police, Psychological, Supernatural, ...",TV,37,8.71,1013917
1831730,4699,2001,9,Tengen Toppa Gurren Lagann,"Action, Adventure, Comedy, Mecha, Sci-Fi",TV,27,8.78,562962
4797874,4699,16498,9,Shingeki no Kyojin,"Action, Drama, Fantasy, Shounen, Super Power",TV,25,8.54,896229
2713217,4699,5114,9,Fullmetal Alchemist Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
1625947,4699,1575,9,Code Geass Hangyaku no Lelouch,"Action, Mecha, Military, School, Sci-Fi, Super...",TV,25,8.83,715151
839,4699,1,8,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
1439695,4699,1210,8,NHK ni Youkoso,"Comedy, Drama, Psychological, Romance",TV,24,8.40,291228
5035772,4699,18679,8,Kill la Kill,"Action, Comedy, School, Super Power",TV,24,8.23,508118

# Final recommended anime movie system: Combine content-based and user-based

In [101]:
#make each of the result to a list 
content_based_recommendations_list = content_based_recommendations.index.tolist()
content_based_recommendations_list

[1, 402, 200, 1030, 1967, 1742, 971, 1558, 2397, 2697]

In [102]:
user_based_recommendations_list = user_based_recommendations['anime_id'].tolist()
user_based_recommendations_list

[2904, 9253, 1535, 2001, 16498, 5114, 1575, 1, 1210, 18679]

In [103]:
final_anime_recommend = content_based_recommendations_list.copy()
final_anime_recommend += user_based_recommendations_list.copy()
final_anime_recommend

[1,
 402,
 200,
 1030,
 1967,
 1742,
 971,
 1558,
 2397,
 2697,
 2904,
 9253,
 1535,
 2001,
 16498,
 5114,
 1575,
 1,
 1210,
 18679]

In [104]:
#the anime that use to do the content based filtering
target_anime = target_user_data.iloc[0]
pd.DataFrame(target_anime)

                                                       2730448
user_id                                                  75000
anime_id                                                  5114
user_rating                                                 10
name                          Fullmetal Alchemist  Brotherhood
genre        Action, Adventure, Drama, Fantasy, Magic, Mili...
type                                                        TV
episodes                                                    64
avg_rating                                                9.26
members                                                 793665

In [105]:
#the list of the target user's rating 
pd.DataFrame(target_user_data)

,user_id,anime_id,user_rating,name,genre,type,episodes,avg_rating,members
2730448,75000,5114,10,Fullmetal Alchemist Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
3581863,75000,9253,10,Steins Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
5988411,75000,32935,10,Haikyuu Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
11728,75000,1,9,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
1645554,75000,1575,9,Code Geass Hangyaku no Lelouch,"Action, Mecha, Military, School, Sci-Fi, Super...",TV,25,8.83,715151
4056738,75000,11061,9,Hunter x Hunter 2011,"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855
5817917,75000,30276,9,One Punch Man,"Action, Comedy, Parody, Sci-Fi, Seinen, Super ...",TV,12,8.82,552458
322104,75000,136,8,Hunter x Hunter,"Action, Adventure, Shounen, Super Power",TV,62,8.48,166255
1845233,75000,2001,8,Tengen Toppa Gurren Lagann,"Action, Adventure, Comedy, Mecha, Sci-Fi",TV,27,8.78,562962
2564900,75000,4565,8,Tengen Toppa Gurren Lagann Movie Lagann hen,"Action, Mecha, Sci-Fi, Space, Super Power",Movie,1,8.64,82253
4135775,75000,11577,8,Steins Gate Movie Fuka Ryouiki no D j vu,"Sci-Fi, Thriller",Movie,1,8.61,192424
5192247,75000,20583,8,Haikyuu,"Comedy, Drama, School, Shounen, Sports",TV,25,8.68,284498
4379987,75000,12859,7,One Piece Film Z,"Action, Adventure, Comedy, Drama, Fantasy, Sho...",Movie,1,8.39,76051

# Display the final recommendation

In [106]:
recommend_anime = anime_movie_data.loc[anime_movie_data['anime_id'].isin(final_anime_recommend)]
recommend_anime.drop_duplicates(subset=['anime_id'], keep=False)
pd.DataFrame(recommend_anime)

,anime_id,name,genre,type,episodes,avg_rating,members
1,5114,Fullmetal Alchemist Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
3,9253,Steins Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
13,2904,Code Geass Hangyaku no Lelouch R2,"Action, Drama, Mecha, Military, Sci-Fi, Super ...",TV,25,8.98,572888
19,1575,Code Geass Hangyaku no Lelouch,"Action, Mecha, Military, School, Sci-Fi, Super...",TV,25,8.83,715151
22,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
29,2001,Tengen Toppa Gurren Lagann,"Action, Adventure, Comedy, Mecha, Sci-Fi",TV,27,8.78,562962
40,1535,Death Note,"Mystery, Police, Psychological, Supernatural, ...",TV,37,8.71,1013917
86,16498,Shingeki no Kyojin,"Action, Drama, Fantasy, Shounen, Super Power",TV,25,8.54,896229
156,1210,NHK ni Youkoso,"Comedy, Drama, Psychological, Romance",TV,24,8.40,291228
281,18679,Kill la Kill,"Action, Comedy, School, Super Power",TV,24,8.23,508118
827,2397,Digimon Adventure Bokura no War Game,"Adventure, Comedy, Kids, Sci-Fi",Movie,1,7.81,37078
1302,200,Tenshi na Konamaiki,"Comedy, Magic, Romance, Shounen",TV,50,7.60,15077
1859,1030,Heisei Tanuki Gassen Ponpoko,Kids,Movie,1,7.42,34263
2117,1967,Mobile Suit Zeta Gundam A New Translation H...,"Drama, Mecha, Military, Sci-Fi, Space",Movie,1,7.35,6326
3317,971,Astro Boy Tetsuwan Atom,"Action, Adventure, Kids, Mecha, Sci-Fi, Shoune...",TV,50,7.02,9331
4295,1742,Souryuuden,"Drama, Mystery, Super Power, Supernatural",OVA,12,6.76,1408
4530,402,Otogi Juushi Akazukin OVA,"Adventure, Comedy, Fantasy, Magic",OVA,1,6.70,1030
5516,2697,Hi Speed Jecy,"Action, Sci-Fi",OVA,12,6.43,479
11685,1558,Yarima Queen,"Comedy, Demons, Fantasy, Hentai, Magic, Parody",OVA,1,6.26,2153

In [107]:
end_time = time.time()
execution_time = end_time - start_time
print(f"Execution time: {execution_time} seconds")

Execution time: 128.33369207382202 seconds